<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/rj/auction/user/vo/User.hbm.xml</value>				
				<value>com/rj/auction/product/vo/Product.hbm.xml</value>				
				<value>com/rj/auction/admin/vo/Admin.hbm.xml</value>				
				<value>com/rj/auction/product/vo/Record.hbm.xml</value>				
			</list>
		</property>
	</bean>
	
	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- Action的配置 ===========================-->	
	<!-- 用户模块的Action -->
	<bean id="userAction" class="com.rj.auction.user.action.UserAction" scope="prototype">
		<!-- 注入Service -->
		<property name="userService" ref="userService"/>
		<property name="productService" ref="productService"/>
	</bean>	
	
	<!-- 验证码Action -->
	<bean id="checkImgAction" class="com.rj.auction.user.action.CheckImgAction" scope="prototype">	
	</bean>
	
	<!-- 拍卖品Action -->
	<bean id="productAction" class="com.rj.auction.product.action.ProductAction" scope="prototype">
		<property name="productService" ref="productService"/>
	</bean>

	<!-- 管理员Action -->
	<bean id="adminAction" class="com.rj.auction.admin.action.AdminAction" scope="prototype">
		<property name="adminService" ref="adminService"/>
		<property name="productService" ref="productService"/>
	</bean>
	
	<!-- Service的配置  ===========================-->
	<bean id="userService" class="com.rj.auction.user.service.UserService">
		<property name="userDao" ref="userDao"/>
	</bean>	
	<bean id="productService" class="com.rj.auction.product.service.ProductService">
		<property name="productDao" ref="productDao"/>
	</bean>	
	<bean id="adminService" class="com.rj.auction.admin.service.AdminService">
		<property name="adminDao" ref="adminDao"/>
	</bean>
	
	<!-- Dao的配置  ===========================-->
	<bean id="userDao" class="com.rj.auction.user.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	<bean id="productDao" class="com.rj.auction.product.dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="adminDao" class="com.rj.auction.admin.dao.AdminDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
